<!-- header -->
<mat-toolbar color="primary">
  <mat-toolbar-row>


    <h1>Ferrogut</h1>

    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>
    <img src="assets/image/logo.png" alt="Ferrogut Logo" class="toolbar-logo">
    <label style="font-size: 14px; margin-right: 20px;">
    {{nombres}} - {{apellidos}}
    </label>
    <button title="Cerrar Sesion" mat-icon-button (click)="cerrarSesion()">
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar-row>

</mat-toolbar>
<!-- sidebar -->
<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side" style="width: 250px;">

    <mat-nav-list>

      <!-- <mat-list-item routerLink="/pages/dashboard">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <a mat-line>Dashboard</a>
      </mat-list-item> -->

      <mat-list-item routerLink="/pages/usuario">
        <mat-icon matListItemIcon>person</mat-icon>
        <a mat-line>Usuarios</a>
      </mat-list-item>

      <mat-list-item  routerLink="/pages/categoria">
        <mat-icon  matListItemIcon>sort</mat-icon>
        <a mat-line>Categorias</a>
      </mat-list-item>

      <mat-list-item  routerLink="/pages/producto">
        <mat-icon  matListItemIcon>inventory2</mat-icon>
        <a mat-line>Productos</a>
      </mat-list-item>

      <mat-list-item  routerLink="/pages/proveedor">
        <mat-icon  matListItemIcon>work</mat-icon>
        <a mat-line>Proveedores</a>
      </mat-list-item>

      <mat-list-item routerLink="/pages/cliente">
        <mat-icon matListItemIcon>group</mat-icon>
        <a mat-line>Clientes</a>
      </mat-list-item>

      <mat-list-item routerLink="/pages/venta">
        <mat-icon matListItemIcon>currency_exchange</mat-icon>
        <a mat-line>Ventas</a>
      </mat-list-item>

      <mat-list-item routerLink="/pages/adquisicion">
        <mat-icon matListItemIcon>fact_check</mat-icon>
        <a mat-line>Adquisiciones</a>
      </mat-list-item>

      <mat-list-item routerLink="/pages/historial_venta">
        <mat-icon matListItemIcon>event_note</mat-icon>
        <a mat-line>Historial Venta</a>
      </mat-list-item>

      <mat-list-item routerLink="/pages/historial_adquisicion">
        <mat-icon matListItemIcon>event_note</mat-icon>
        <a mat-line>Historial Adquisicion</a>
      </mat-list-item>


    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
